$namespace = 'element';

$danger = '#f44336';
$default = '#e7e7e7';
$info = '#2196fc';
$success = '#4caf50';
$warning = '#ff9800';

.#{$namespace}-button {
  border: 2px solid
}

.#{$namespace}-button--danger {
  border-color: $danger;
}

.#{$namespace}-button--default {
  border-color: $default;
}

.#{$namespace}-button--info {
  border-color: $info;
}

.#{$namespace}-button--success {
  border-color: $success;
}

.#{$namespace}-button--warning {
  border-color: $warning;
}